* {
    margin: 				0;
    box-sizing: 			border-box;
}

html, body {
    font-family: 			'Raleway', sans-serif;
    height: 				100vh;
}

/* For phones (portrait) unless another @media rule below is fired */
@media only screen and (max-width: 499px) {
    .col-md-00  {display:          none; }
    .col-md-01  {width:           8.33%; }
    .col-md-02  {width:          16.66%; }
    .col-md-03  {width:          25.00%; }
    .col-md-04  {width:          33.33%; }
    .col-md-05  {width:          41.66%; }
    .col-md-06  {width:          50.00%; }
    .col-md-07  {width:          58.33%; }
    .col-md-08  {width:          66.66%; }
    .col-md-09  {width:          75.00%; }
    .col-md-10  {width:          83.33%; }
    .col-md-11  {width:          91.66%; }
    .col-md-12  {width:         100.00%; }
    [class*="col-sm-"] {
    }
}

/* For medium screens (e.g. landscape phones and portrait tablets) */
@media only screen and (min-width: 500px) {
    .col-md-00  {display:          none; }
    .col-md-01  {width:           8.33%; }
    .col-md-02  {width:          16.66%; }
    .col-md-03  {width:          25.00%; }
    .col-md-04  {width:          33.33%; }
    .col-md-05  {width:          41.66%; }
    .col-md-06  {width:          50.00%; }
    .col-md-07  {width:          58.33%; }
    .col-md-08  {width:          66.66%; }
    .col-md-09  {width:          75.00%; }
    .col-md-10  {width:          83.33%; }
    .col-md-11  {width:          91.66%; }
    .col-md-12  {width:         100.00%; }

    [class*="col-md-"] {
    }
}

/* For large screens or landscape tablets*/
@media only screen and (min-width: 1024px) {
    .col-sm-00  {display:       initial; }
    .col-md-00  {display:       initial; }
    .col-lg-01  {width:           8.33%; }
    .col-lg-02  {width:          16.66%; }
    .col-lg-03  {width:          25.00%; }
    .col-lg-04  {width:          33.33%; }
    .col-lg-05  {width:          41.66%; }
    .col-lg-06  {width:          50.00%; }
    .col-lg-07  {width:          58.33%; }
    .col-lg-08  {width:          66.66%; }
    .col-lg-09  {width:          75.00%; }
    .col-lg-10  {width:          83.33%; }
    .col-lg-11  {width:          91.66%; }
    .col-lg-12  {width:         100.00%; }

    [class*="col-lg-"] {
    }
}

[class*="col-"] {
    float:              left;
}

.row::after {
    content:            "";
    clear:              both;
    display:            block;
}

.row {
    text-align:         center;
}

/* login section*/

#login-cover {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fab {
    position: fixed;
    right: 32px;
    bottom: 32px;
}
.logout {
    position: fixed;
    bottom: 32px;
    left: 32px;
}
.mdl-layout__tab-bar-container {
    height: 76px;
}
.mdl-layout__tab-bar .mdl-layout__tab {
    margin-top: 28px;
}
.mdl-textfield {
    padding-bottom: 0;
}